<%- include('header') -%>
<div class="admin"></div>
    <article class="container admin_page">
        <h3 >Enregistrer un nouveau livre</h3>
        <form method="post" class="book_form" enctype="multipart/form-data">
            <fieldset>
                <legend id="register">Nouveau livre</legend>
                <!-- message d'erreur conditionnel, capturé par le contrôleur -->
                <% if(locals.message) { %>
                    <p class="message_error"><%= message %></p>
                <% } %>
                <label for="title">Titre</label>
                <input type="text" name="title" id="title"  class="input-error" placeholder="Taille maximale : 250 caractères.">
                <% if(locals.messageTitle) { %>
                    <p class="message_error"><%= messageTitle %></p>
                <% } %>
                <label for="parution">Année de parution</label>
                <input type="number" name="parution" id="parution" class="input-error" placeholder="Veuillez saisir 4 chiffres.">
                <% if(locals.messagePublicationYear) { %>
                    <p class="message_error"><%= messagePublicationYear %></p>
                <% } %>
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Description" cols="30" rows="10"></textarea>
                <% if(locals.messageDescription) { %>
                    <p class="message_error"><%= messageDescription %></p>
                <% } %>
                <label for="isbn">ISBN</label>
                <input type="number" name="ISBN" id="isbn" class="input-error" placeholder="13 chiffres">
                <% if(locals.messageIsbn) { %>
                    <p class="message_error"><%= messageIsbn %></p>
                <% } %>
                <label for="image">Choissisez l'image du livre </label>
                <input type="file" name="url_cover_image" id="image" class="input-error">
                <% if(locals.messageImage) { %>
                    <p class="message_error"><%= messageImage %></p>
                <% } %>
                <label for="alt_text">Text alternatif</label>
                <input type="text" name="alt_text" id="alt_text" class="input-error" placeholder="Text descriptif de l'image">
                <% if(locals.messageAltText) { %>
                    <p class="message_error"><%= messageAltText %></p>
                <% } %>
                <label for="date_reading_club">Date de lecture au club</label>
                <input type="date" name="date_reading_club" id="date_reading_club" class="input-error">
                <% if(locals.messageDateReading) { %>
                    <p class="message_error"><%= messageDateReading %></p>
                <% } %>
                <label for="id_book_category">Categorie du livre</label>
                <select name="id_book_category" id="id_book_category">
                    <option value="">Choissisez une option</option>
                    <option value="1">Classique</option>
                    <option value="2">Contemporain</option>
                </select>
                <% if(locals.messageIdBookCategory) { %>
                    <p class="message_error"><%= messageIdBookCategory %></p>
                <% } %>
                <label for="editor">Editeur</label>
                <input type="text" name="editor" id="editor" class="input-error" placeholder="Le nom de l'editeur">
                <% if(locals.messageEditor) { %>
                    <p class="message_error"><%= messageEditor %></p>
                <% } %>
                <label for="author_firstname">Auteur - Prénom</label>
                <input type="text" name="author_firstname" id="author_firstname" class="input-error" placeholder="Le prenom de l'auteur">
                <% if(locals.messageAuthorFirstname) { %>
                    <p class="message_error"><%= messageAuthorFirstname %></p>
                <% } %>
                <label for="author_lastname">Auteur - Nom</label>
                <input type="text" name="author_lastname" id="author_lastname" class="input-error" placeholder="Le nom de l'auteur">
                <% if(locals.messageAuthorLastname) { %>
                    <p class="message_error"><%= messageAuthorLastName %></p>
                <% } %>
                <button type="submit" class="submit-button">Enregistrer</button>
            </fieldset>
        </form>
    </article>
<script src="/javascript/formulaire.js"></script>
<%- include('footer') -%>