<%- include('header') -%>
<div class="admin"></div>
    <article class="container admin_page">
        <h3 id="edit" >Modifier le contenu d'un livre</h3>
        <!-- Formulaire pour modifier les informations d'un livre -->
        <form method="post" class="book_form" enctype="multipart/form-data" action="/edit_book/<%= book.id_book %>/edit">
            <!--
                enctype="multipart/form-data": Indique que le formulaire peut envoyer des fichiers en plus des données textuelles. Ceci est nécessaire car le formulaire permet de télécharger une nouvelle image de couverture pour le livre.
    
                action="/edit_book/<%= book.id_book %>/edit": Spécifie l'URL où les données du formulaire doivent être envoyées pour traitement. Ici, les données sont envoyées à l'endpoint qui gère l'édition du livre identifié par son ID.
            -->
            <fieldset>
                <legend id="register">Modifier le contenu d'un livre</legend>

                <label for="title">Titre</label>

                <!-- messages de confirmation de l'enregistrement des modifications -->
                <% if(locals.message) { %>
                    <p class="message_error"><%= message %></p>
                <% } %>
                <% if(locals.messageImage) { %>
                    <p class="message_error"><%= messageImage %></p>
                <% } %>

                <input type="text" name="title" id="title"  class="input-error" value="<%= book.title %>">
                <% if(locals.messageTitle) { %>
                    <p class="message_error"><%= messageTitle %></p>
                <% } %>

                <label for="parution">Année de parution</label>
                <input type="number" name="parution" id="parution" class="input-error" value="<%= book.publication_year %>">
                <% if(locals.messagePublicationYear) { %>
                    <p class="message_error"><%= messagePublicationYear %></p>
                <% } %>

                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10" ><%= book.description %></textarea>
                <% if(locals.messageDescription) { %>
                    <p class="message_error"><%= messageDescription %></p>
                <% } %>

                <label for="isbn">ISBN</label>
                <input type="number" name="ISBN" id="isbn" class="input-error" value="<%= book.ISBN %>">
                <% if(locals.messageIsbn) { %>
                    <p class="message_error"><%= messageIsbn %></p>
                <% } %>

                <label for="image">Choissisez l'image du livre </label>
                <input type="file" name="url_cover_image" id="image">
                <img src="/images/<%= book.url_cover_image %>" width="250" alt="<%= book.alt_text %>">
                <input type="hidden" name="existingUrlCoverImage" value="<%= book.url_cover_image %>"> <!-- Champ caché pour conserver l'URL de l'image de couverture actuelle si aucune nouvelle image n'est téléchargée -->
                <% if(locals.messageImage) { %>
                    <p class="message_error"><%= messageImage %></p>
                <% } %>

                <label for="alt_text">Text alternatif</label>
                <input type="text" name="alt_text" id="alt_text" class="input-error" value="<%= book.alt_text %>">
                <% if(locals.messageAltText) { %>
                    <p class="message_error"><%= messageAltText %></p>
                <% } %>
                
                <!-- fonction pour afficher la date récupèrée de la bdd en format jj/mm/aaaa  -->
                <%
                function formatDateForInput(date) {
                  // Vérifie si la date est null ou undefined et renvoie une chaîne vide si c'est le cas.
                  if (!date) {
                    return ''; 
                  }
                
                  // Crée un objet Date à partir de la date fournie.
                  const formattedDate = new Date(date);
                
                  // Vérifie si la date créée est valide. Si ce n'est pas le cas, renvoie une chaîne vide.
                  if (isNaN(formattedDate.getTime())) {
                    return ''; 
                  }

                  // Extrait le jour, le mois et l'année de la date et les formate en ajoutant des zéros si nécessaire.
                  const day = String(formattedDate.getDate()).padStart(2, '0');
                  const month = String(formattedDate.getMonth() + 1).padStart(2, '0');
                  const year = formattedDate.getFullYear();
                
                  // Renvoie la date formatée en chaîne de caractères.
                  return `${day}-${month}-${year}`;
                }
                %>
                <label for="date_reading_club">Date de lecture au club</label>
                <input type="date" name="date_reading_club" id="date_reading_club" class="input-error" value="<%= formatDateForInput(book.date_reading_club) %>">
                <% if(locals.messageDateReading) { %>
                    <p class="message_error"><%= messageDateReading %></p>
                <% } %>

                <label>Categorie du livre</label>
                <!-- Menu déroulant pour sélectionner la catégorie du livre -->
                <select name="id_book_category">
                    <!-- Option par défaut demandant à l'utilisateur de choisir une option -->
                    <option value="">Choissisez une option</option>
                    <!-- Options pour sélectionner la catégorie "Classique" ou la catégorie "Contemporain" -->
                    <!-- Si la catégorie du livre correspond à cette option, ajout l'attribut 'selected' et elle sera séléctionnée par défault. -->
                    <option value="1" <%= book.id_book_category === 1 ? 'selected' : '' %>>Classique</option>
                    <option value="2" <%= book.id_book_category === 2 ? 'selected' : '' %>>Contemporain</option>
                </select>
                
                <% if(locals.messageIdBookCategory) { %>
                    <p class="message_error"><%= messageIdBookCategory %></p>
                <% } %>

                <label for="editor">Editeur</label>
                <input type="text" name="editor" id="editor" class="input-error" value="<%= book.editor_name %>">
                <% if(locals.messageEditor) { %>
                    <p class="message_error"><%= messageEditor %></p>
                <% } %>

                <label for="author_firstname">Auteur - Prénom</label>
                <input type="text" name="author_firstname" id="author_firstname" class="input-error" value="<%= book.author_firstname %>">
                <% if(locals.messageAuthorFirstname) { %>
                    <p class="message_error"><%= messageAuthorFirstname %></p>
                <% } %>

                <label for="author_lastname">Auteur - Nom</label>
                <input type="text" name="author_lastname" id="author_lastname" class="input-error" value="<%= book.author_lastname %>">
                <% if(locals.messageAuthorLastname) { %>
                    <p class="message_error"><%= messageAuthorLastName %></p>
                <% } %>
 
                <button type="submit" class="submit-button" name="action" value="edit">Enregistrer</button>
                <% if(locals.message) { %>
                        <p class="message_error"><%= message %></p>
                <% } %>
        
            </fieldset>
        </form>
    </article>
<script src="/javascript/formulaire.js"></script>
<%- include('footer') -%>