<%- include('header') -%>
<div class="user"></div>
    <article class="container">
        <h1>Mon espace</h1>
        <div class="ident">
            <% if (user) { %>
                <p><span class="informations">Utilisateur :</span> <%= user.firstname + " " + user.lastname %></p>
                <p><span class="informations">Inscrit le :</span> <%= new Date(user.registration_date).toLocaleDateString() %></p>
            <% } else { %>
                <p>Aucun utilisateur trouvé.</p>
            <% } %>
        </div>
        <h2>Ma bibliotèque</h2>
        <div class="books_gallery">
            <% for (const book of userLibrary) { %>
                <div class="card">
                    <form class="cover_book" method="post">
                        <figure>
                            <img src="/images/<%= book.url_cover_image %>" alt="<%= book.alt_text %>">
                            <figcaption lang="pt-br"><%= book.title %></figcaption>
                        </figure>
                        <p><a class="btn" href="/details_readings/<%= book.id_book %>">En savoir plus</a></p>
                    <% if (locals.admin) { %>
                        <br>
                        <input type="hidden" name="id" value="<%= book.id_book %>">
                        <button type="submit">Supprimer</button>
                    <% } %>
                </form>
            </div>
            <% } %>
        </div>
    </article>
<%- include('footer') -%>